.showProject-main{
    width: 100%;
    margin-bottom: 50px;
    .projectBox{
        cursor: pointer;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        border-radius: 6px;
        .projectImg{
            padding: 30px;
            img{
                width: 100px;
                height: 130px;
                border-radius: 6px;
            }
        }
        .infoBox{
            margin: 30px 70px 30px 30px;
            width: 100%;
            display: flex;
            flex-direction: column;
            .projectName{
                font-size: 18px;
                letter-spacing: 3px;
                font-weight: 300;
            }
            .baseInfo{
                display: flex;
                margin-top: 12px;
                .baseItem{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 14px;
                        height: 14px;
                    }
                    span{
                        font-size: 10px;
                        color: #aaa;
                        letter-spacing: 2px;
                        margin-left: 10px;
                    }
                }
            }
            .projectIntroduce{
                width: 40vw;
                font-size: 10px;
                color: #999;
                margin-top: 15px;
                display: inline-block;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow:ellipsis;
            }
            .showIntroduce{
                width: 40vw;
                font-size: 10px;
                color: #999;
                margin-top: 15px;
                letter-spacing: 1px;
            }
            .moreBtn{
                margin-top: auto;
                margin-left: auto;
                color: #66ccaa;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 2px;
                display: flex;
                align-items: center;
                img{
                    width: 15px;
                    margin-left: 15px;
                }
            }
            .title{
                font-size: 10px;
                color: #333;  
            }
            .text{
                font-size: 10px;
                color: #999; 
                margin-left: 10px;
            }
            .showMoreBox{
                display: flex;
                flex-direction: column;
                .mentorInfo{
                    display: flex;
                    margin-bottom: 10px;
                }
                .teamPeople{
                    display: flex;
                    span{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .projectBox:hover{
        box-shadow:0px 0px 10px rgba(0,0,0,0.3);
        transition: 0.5s;
    }
    .hiddenMoreBox{
        display: none;
    }
}